/* Responsive styling for smaller screens */
@media (max-width: 480px) {
    .Transfer {
      font-size: 1.65rem;
      text-align: left;
      /* Adjusting font size and alignment for smaller screens */
    }
    
    .heroData {
      padding-left: 0rem !important;
      /* Removing left padding for smaller screens */
    }
  }
  
  /* CSS for the floating ball and rotating effect along a circular path */
  @keyframes rotate {
    0% {
      transform: translate(0, 0) rotate(50deg);
    }
    4% {
      transform: translate(17px, -10px) rotate(0deg);
    }
    8% {
      transform: translate(35px, -20px) rotate(52deg);
    }
    12% {
      transform: translate(67px, -25px) rotate(60deg);
    }
    16% {
      transform: translate(80px, -20px) rotate(80deg);
    }
    20% {
      transform: translate(105px, -10px) rotate(90deg);
    }
    25% {
      transform: translate(130px, 0) rotate(100deg);
    }
    33% {
      transform: translate(85px, 45px) rotate(120deg);
    }
    41% {
      transform: translate(25px, 47px) rotate(130deg);
    }
    50% {
      transform: translate(-5px, -5px) rotate(260deg);
    }
    58% {
      transform: translate(-45px, -25px) rotate(280deg);
    }
    66% {
      transform: translate(-90px, -25px) rotate(300deg);
    }
    70% {
      transform: translate(-100px, -28px) rotate(320deg);
    }
    75% {
      transform: translate(-150px, 20px) rotate(3470deg);
    }
    83% {
      transform: translate(-120px, 50px) rotate(360deg);
    }
    91% {
      transform: translate(-55px, 40px) rotate(320deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg); 
    }
  }
  
  .floating-ball {
    will-change: transform;
    animation: rotate 25s linear infinite; /* Changed from floatBall to rotate */
    position: absolute;
    top: 40%; /* Adjust based on your design */
    left: 50%;
    transform-origin: center center; /* Ensure rotation occurs around the center */
    z-index: 10; /* Make sure the ball is on top */
  }
  
  /* For users who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    .floating-ball {
      animation-duration: 60s; /* Slow down the animation for reduced motion preference */
    }
  }
  